xml-resources/web-service-references/NIBBSNIPInterface/wsdl/192.168.2.32_8080/NAMBUITChannels/NIBBSNIPInterface.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.nibbsnip/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.nibbsnip/">

<xs:element name="accountblock" type="tns:accountblock"/>

<xs:element name="accountblockResponse" type="tns:accountblockResponse"/>

<xs:element name="accountunblock" type="tns:accountunblock"/>

<xs:element name="accountunblockResponse" type="tns:accountunblockResponse"/>

<xs:element name="amountblock" type="tns:amountblock"/>

<xs:element name="amountblockResponse" type="tns:amountblockResponse"/>

<xs:element name="amountunblock" type="tns:amountunblock"/>

<xs:element name="amountunblockResponse" type="tns:amountunblockResponse"/>

<xs:element name="balanceenquiry" type="tns:balanceenquiry"/>

<xs:element name="balanceenquiryResponse" type="tns:balanceenquiryResponse"/>

<xs:element name="financialinstitutionlist" type="tns:financialinstitutionlist"/>

<xs:element name="financialinstitutionlistResponse" type="tns:financialinstitutionlistResponse"/>

<xs:element name="fundtransferAdvice_dc" type="tns:fundtransferAdvice_dc"/>

<xs:element name="fundtransferAdvice_dcResponse" type="tns:fundtransferAdvice_dcResponse"/>

<xs:element name="fundtransferAdvice_dd" type="tns:fundtransferAdvice_dd"/>

<xs:element name="fundtransferAdvice_ddResponse" type="tns:fundtransferAdvice_ddResponse"/>

<xs:element name="fundtransfersingleitem_dc" type="tns:fundtransfersingleitem_dc"/>

<xs:element name="fundtransfersingleitem_dcResponse" type="tns:fundtransfersingleitem_dcResponse"/>

<xs:element name="fundtransfersingleitem_dd" type="tns:fundtransfersingleitem_dd"/>

<xs:element name="fundtransfersingleitem_ddResponse" type="tns:fundtransfersingleitem_ddResponse"/>

<xs:element name="mandateadvice" type="tns:mandateadvice"/>

<xs:element name="mandateadviceResponse" type="tns:mandateadviceResponse"/>

<xs:element name="nameenquirysingleitem" type="tns:nameenquirysingleitem"/>

<xs:element name="nameenquirysingleitemResponse" type="tns:nameenquirysingleitemResponse"/>

<xs:element name="txnstatusquerysingleitem" type="tns:txnstatusquerysingleitem"/>

<xs:element name="txnstatusquerysingleitemResponse" type="tns:txnstatusquerysingleitemResponse"/>

<xs:complexType name="balanceenquiry">
<xs:sequence>
<xs:element name="balancerequest" type="tns:balanceEnquiryRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="balanceEnquiryRequest">
<xs:sequence>
<xs:element name="authorizationCode" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="balanceenquiryResponse">
<xs:sequence>
<xs:element name="return" type="tns:balanceEnquiryDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="balanceEnquiryDetails">
<xs:sequence>
<xs:element name="authorizationCode" type="xs:string" minOccurs="0"/>
<xs:element name="availableBalance" type="xs:decimal" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountunblock">
<xs:sequence>
<xs:element name="AccountUnblockIn" type="tns:accountUnblockRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountUnblockRequest">
<xs:sequence>
<xs:element name="channelCode" type="xs:int" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="referenceCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountunblockResponse">
<xs:sequence>
<xs:element name="return" type="tns:accountUnblockDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountUnblockDetails">
<xs:sequence>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="referenceCode" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fundtransferAdvice_dc">
<xs:sequence>
<xs:element name="creditrequest" type="tns:ftAdviceCreditRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ftAdviceCreditRequest">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="nameEnquiryRef" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="originatorAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="originatorAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="originatorBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="originatorKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="transactionLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fundtransferAdvice_dcResponse">
<xs:sequence>
<xs:element name="return" type="tns:ftAdviceCreditResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ftAdviceCreditResponse">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="nameEnquiryRef" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="originatorAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="originatorAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="originatorBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="originatorKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="transactionLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mandateadvice">
<xs:sequence>
<xs:element name="MandateAdviceIn" type="tns:mandateAdviceRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mandateAdviceRequest">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitBankVerificationName" type="xs:string" minOccurs="0"/>
<xs:element name="debitKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="mandateReferenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mandateadviceResponse">
<xs:sequence>
<xs:element name="return" type="tns:mandateAdviceDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mandateAdviceDetails">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitBankVerificationName" type="xs:string" minOccurs="0"/>
<xs:element name="debitKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="mandateReferenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fundtransferAdvice_dd">
<xs:sequence>
<xs:element name="debitrequest" type="tns:ftAdviceDebitRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ftAdviceDebitRequest">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="mandateReferenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="nameEnquiryRef" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="transactionFee" type="xs:string" minOccurs="0"/>
<xs:element name="transactionLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fundtransferAdvice_ddResponse">
<xs:sequence>
<xs:element name="return" type="tns:ftAdviceDebitResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ftAdviceDebitResponse">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="mandateReferenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="nameEnquiryRef" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="transactionFee" type="xs:string" minOccurs="0"/>
<xs:element name="transactionLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountblock">
<xs:sequence>
<xs:element name="AccountBlockIn" type="tns:accountBlockRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountBlockRequest">
<xs:sequence>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="referenceCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountblockResponse">
<xs:sequence>
<xs:element name="return" type="tns:accountBlockDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountBlockDetails">
<xs:sequence>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="referenceCode" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fundtransfersingleitem_dc">
<xs:sequence>
<xs:element name="ftsinglecreditrequest" type="tns:ftSingleCreditRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ftSingleCreditRequest">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="nameEnquiryRef" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="originatorAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="originatorAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="originatorBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="originatorKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="transactionLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fundtransfersingleitem_dcResponse">
<xs:sequence>
<xs:element name="return" type="tns:ftSingleCreditResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ftSingleCreditResponse">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="nameEnquiryRef" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="originatorAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="originatorAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="originatorBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="originatorKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="transactionLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fundtransfersingleitem_dd">
<xs:sequence>
<xs:element name="ftsingledebitrequest" type="tns:ftSingleDebitRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ftSingleDebitRequest">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="mandateReferenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="nameEnquiryRef" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="transactionFee" type="xs:decimal" minOccurs="0"/>
<xs:element name="transactionLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fundtransfersingleitem_ddResponse">
<xs:sequence>
<xs:element name="return" type="tns:ftSingleDebitResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ftSingleDebitResponse">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="beneficiaryAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="beneficiaryKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitBankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="debitKYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="mandateReferenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="nameEnquiryRef" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="transactionFee" type="xs:decimal" minOccurs="0"/>
<xs:element name="transactionLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nameenquirysingleitem">
<xs:sequence>
<xs:element name="nesinglerequest" type="tns:neSingleRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="neSingleRequest">
<xs:sequence>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nameenquirysingleitemResponse">
<xs:sequence>
<xs:element name="return" type="tns:neSingleResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="neSingleResponse">
<xs:sequence>
<xs:element name="accountName" type="xs:string" minOccurs="0"/>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="bankVerificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="KYCLevel" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="amountblock">
<xs:sequence>
<xs:element name="amountblockrequest" type="tns:amountBlockRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="amountBlockRequest">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="referenceCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="amountblockResponse">
<xs:sequence>
<xs:element name="return" type="tns:amountBlockDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="amountBlockDetails">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="referenceCode" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="amountunblock">
<xs:sequence>
<xs:element name="amountunblockrequest" type="tns:amountUnblockRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="amountUnblockRequest">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="referenceCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="amountunblockResponse">
<xs:sequence>
<xs:element name="return" type="tns:amountUnblockDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="amountUnblockDetails">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="narration" type="xs:string" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="referenceCode" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountName" type="xs:string" minOccurs="0"/>
<xs:element name="targetAccountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="targetBankVerificationNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="txnstatusquerysingleitem">
<xs:sequence>
<xs:element name="tsquerysinglerequest" type="tns:tsQuerySingleRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tsQuerySingleRequest">
<xs:sequence>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="sourceInstitutionCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="txnstatusquerysingleitemResponse">
<xs:sequence>
<xs:element name="return" type="tns:tsQuerySingleResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tsQuerySingleResponse">
<xs:sequence>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="sourceInstitutionCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="financialinstitutionlist">
<xs:sequence>
<xs:element name="FinancialInstitutionListIn" type="tns:financialInstitutionListRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="financialInstitutionListRequest">
<xs:sequence>
<xs:element name="batchNumber" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="institutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="institutionName" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfRecords" type="xs:int"/>
<xs:element name="transactionLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="financialinstitutionlistResponse">
<xs:sequence>
<xs:element name="return" type="tns:financialInstitutionListDetails" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="financialInstitutionListDetails">
<xs:sequence>
<xs:element name="batchNumber" type="xs:string" minOccurs="0"/>
<xs:element name="channelCode" type="xs:string" minOccurs="0"/>
<xs:element name="destinationInstitutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfRecords" type="xs:int"/>
<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>